/* General Styles */
body {
    margin: 0;
    font-family:  "Spectral", sans-serif;
    background-color: #f8f9fa;
    color: #495057;
    
}

/* Nav Styles */
nav {
    background-color: #6c757d;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav p, nav a {
    margin: 0;
    font-size: 1.2em;
    text-decoration: none;
    color: #f8f9fa;
}

nav a {
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #adb5bd;
    color: #495057;
}

/* Footer Styles */
footer {
    background-color: #adb5bd;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #495057;
    margin: 0 5px;
}

footer a:hover {
    color: #6c757d;
}

/* Splash Section */
.splash {
    background-color: #d3e0ea;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #495057;
    text-align: center;
    padding: 50px 20px;
}

.splash h1 {
    font-family: "Spectral", sans-serif;
    font-size: 2.5em;
    color: #495057;
}

.splash img {
    border-radius: 50px;  
    border: 5px solid #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 150px;
    margin: 20px;
}

.splash p {
    font-family: "Spectral", sans-serif;
    font-size: 1.2em;
    margin: 10px 0;
}

/* Horizontal Rules */
hr {
    border: 2px dashed #adb5bd;
    margin: 20px 0;
}

/* Sections */
section {
    padding: 20px;
    margin: 10px auto;
}

/* Section Headings */
section h2 {
    font-family: "Newsreader", sans-serif;
    font-size: 1.8em;
    color: #495057;
}

/* Paragraph Styles */
section p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Link styles */
section a {
    color: #6c757d;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

/* List Styles */
ul {
    list-style-type: square;
    padding-left: 20px;
}

dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

dl dt {
    font-weight: bold;
}

dl dd {
    margin: 0;
}

/* Project Section */
.three-col {
    
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    display: grid;

}

.card {
    background-color: #ffffff;
    border: 1px solid #adb5bd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #495057;
}

/* Contact Page Styles */
.one-col {
    padding: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

form {
    
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #adb5bd; 
    border-radius: 5px;
}



form button {
    background-color: #6c757d;
    color: #f8f9fa; 
    padding: 10px 15px;
    
    border-radius: 5px;
    font-size: 1.1em;
}

form button:hover {
    background-color: #495057; 
}
